<% require 'pry' %>
<%= form_for [@user, @trip] do |trip_form| %>
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this post from being saved:</h2>
          <% @trip.errors.full_messages.each do |message| %>
           <ul>
           <li><%= message %></li>
           </ul>
          <% end %>
      </div>
    <% end %>


    <div id="trip_attributes">
      <%= render "trip_attributes", f: trip_form %>
    </div>

    <div id="eatery_trip_attributes">
      <%= trip_form.fields_for :eatery_trips do |eatery_trip_form| %> 
        <%= render "eatery_trip_attributes", f: eatery_trip_form %>
    
      <div id="eatery_attributes">
        <%= eatery_trip_form.fields_for :eatery do |eatery_form| %> 
        <%= render "eatery_attributes", f: eatery_form %>
      </div>
        <% end %> 
      <% end %> 
    </div>




<br / >
<br / >
    <%= submit_tag action_name == 'new' ? 'Create Itinerary' : 'Save Changes to Itinerary' %>
<% end %> 
