<% require 'pry' %>
<%= form_for [@user, @trip] do |f| %>
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this post from being saved:</h2>
          <% @trip.errors.full_messages.each do |message| %>
           <ul>
           <li><%= message %></li>
           </ul>
          <% end %>
      </div>
    <% end %>
     
    <div>
    <%= render "trip_fields", f: f %>
    </div>

    <div>
    <%= f.fields_for :eatery_trips do |ff| %>
 
      <h2>Select existing eatery:</h2>
      <%= ff.collection_select(:eatery_id, Eatery.all, :id, :name, { include_blank: 'Select an eatery' }) %> <br /><br />

      <h2>Or create a new eatery to visit:</h2>
	    <%= ff.fields_for :eatery do |fff| %>
        <%= render "eatery_fields", fff: fff %>
	    <% end %>

      <%= render "eatery_trips_fields", ff: ff %>
       
    <% end %> 
    </div>
 
      
<%= render "submit_button" %>
<% end %> 
 