<% require 'pry' %>

<body>

<h1>Road Trip Itinerary: <%= @trip.title %></h1>

<h2>Description: <%= @trip.description %></h2>


  <% @trip.eatery_trips.each do |eatery_trip| %>
    <h2>Restaurant name: <%= eatery_trip.eatery.name %></h2>
    <p>Location: <%= eatery_trip.eatery.location if eatery_trip.eatery.location != "" %>
    <p>Food categories: <%= eatery_trip.eatery.food_categories %>
    <p>Hot tips: <%= eatery_trip.eatery.about %>
    <p>Dishes: <%= eatery_trip.eatery.dishes %> 
    <% if visit_date_exists %>
       <p>Date visited: <%= eatery_trip.visit_date %></p>
    <% end %>
    <% if review_exists %>
      <p>Review: <%= eatery_trip.review %></p>
    <% end %>
  <% end %>
  
</body>

<% if user_match? %> 

    <%= link_to "Back to My Road Trip Itineraries", user_trips_path(@user)%><br><br>
    <%= link_to "Edit Food Road Trip Itinerary", edit_user_trip_path(@user, @trip) %><br><br>
    <%= link_to "Delete Food Road Trip Itinerary", user_trip_path(@user, @trip), method: "delete" %> <br><br>
   
<% end %>