<% require 'pry' %>

<body>
  <h1><%= @trip.title %></h1>

  <%= @trip.description %>

  <% @trip.destinations.each do |destination| %>
    <h2> <%= destination.location %> </h2>

      <% destination.eateries.each do |eatery| %>
     
        <h3><%= eatery.name %></h3>
        <p>The low-down: <%= eatery.about %></p>
        <p>Food categories: <%= eatery.food_categories %></p>
        <p>Recommended dishes: <%=  eatery.dishes %></p>
      
      <% end %>
  <% end %>

</body>