<% require 'pry' %>

<body>
  <h1><%= @trip.title %></h1>

  <%= @trip.description %>

  <% @trip.eateries.each do |eatery| %>
    <h2>Restaurant name: <%= eatery.name %></h2>
    <p>Location: <%= eatery.location %> 
    <p>About: <%= eatery.about %></p>
    <p>Specialties: <%= eatery.food_categories %></p>
    <p>Recommended dishes: <%=  eatery.dishes %></p>
  <% end %>

</body>


<% if current_user.id == @user.id %>

    <%= link_to "Edit Food Road Trip Itinerary", edit_user_trip_path(@user, @trip) %><br><br>

    <%= link_to "Delete Food Road Trip Itinerary", user_trip_path(@user, @trip), method: "delete" %>
   
<% end %>
