<header>
  <h1>Please Sign Up for an Account</h1>

  <%= form_for @user, url: signup_path do |f| %>

  <% if @user.errors.any? %>
   <% @user.errors.full_messages.each do |message| %>
     <h3><strong><%= message %></strong></h3>
  <%end%>
<% end %>

   
      <%= f.label :name %>
      <%= f.text_field :name %><br />
      <%= f.label :email %>
      <%= f.text_field :email %><br />

      <%= f.label :password %>
      <%= f.password_field :password %><br />
      <br />
      <%= f.submit "Create account" %>
    <% end %>
</header >

<footer id="footer">

  <%= link_to('Sign in with Facebook', '/auth/facebook', method: :post) %>

</footer>

<br>
<br>


